/* 
    Document   : stockexchange
    Created on : Feb 20, 2010, 12:04:36 PM
    Author     : modhu7
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

html{
  overflow-y: scroll;
}

.main{
  width:996px;
  margin: 30px auto;
}
.stockexchangeheader{
  height:50px;
  margin: 30px auto;
  text-align:center;
}
.searchform{
  height:40px;
  margin: 0 auto;
  text-align:left;
}
#exchanges{
  margin: 0 auto;
}
.exchange {
  clear:both;
  margin: 0 auto;}
.even {
  background: #F0FFDF;
}
.odd {
  background: #EFFFFF;
}
.common
{
  float:left;
  width:130px;
  height:20px;
  margin:5px;
  font-size:12px;
}
.order{
  margin: 0 auto;  
}

.ascimg, .descimg{
  width:10px;
  height:10px;
  margin: 0 auto;
}

.tableheader{
  color:white;
  background-color:gray;
  margin: 0 auto;
}
.columnheader{
  height:inherit;  
}

.ascrow, .descrow{  
  margin: 0 auto;
}
.changePercentage, .lastPrice, .companyLink, .high, .low, .trade, .value, .version, volume{

}
.strong {
  font-weight:bolder;
}
.version{
  display: none;
}
.quoteTimeNumber{
  display:none;
}
.companyLink{
  width:150px;
}
.companyLink a{
  text-decoration:none;
}
.lastPrice{
  width:70px;
}
.changePercentage{
  width:100px
}
.high{
  width:70px
}
.low{
  width:70px
}
.value{
  width:70px
}
.volume{
  width:70px
}
.trade{
  width:70px
}
.space-line {
  clear: both; margin: 0; padding: 0; width: auto;
}
.symbol{
  margin: 0 auto;
  text-align:center;
  display:none;
}
.loading{  
  width: 140px;
  margin: 0 auto;  
  font-style:italic;
  font-size:smaller;
  color:red;
  float:left;
  text-align:right;
}
.hello{
  margin:0 auto;
  float:left;
  width:690px;
  position:relative;
  left:75px;
}
.bookmark{
  width: 14px;
  height:14px;
}
.quoteTime{
  width:130px
}
.tableheader, .stockexchangeheader, .searchform, .exchange, .order, .tab{
  width:840px;
}
.asc, .desc{
  height:11px;
  margin: 0 5px 0 5px;
}

.tab{  
  margin: 0 auto;
  height:32px;

}
.searchResultTab, .bookmarkTab, .borderTab{
  float:left;
  height:22px;
  font-size:12px;
  font-weight:bold;
  padding: 8px 0 0 10px;
  border-style:solid;
  border-color:lightblue;
}

.searchResultTab, .bookmarkTab{
  cursor:pointer;
}
.borderTab{
  width:556px;
  border-width: 0 0 2px 0;
}
.searchResultTab{  
  width:110px;  
}
.bookmarkTab{  
  width:140px;  
}
.selectedTab{
  background-color:gray;
  color:white;
  border-width: 2px 2px 0 2px;
}
.unselectedTab{
  background-color:lightgray;
  color:lightyellow;
  border-width: 0 0 2px 0;
}